.navbar {
  padding: 10px;
  border-bottom: 1px solid black;
}


.navbar .navbar-nav .nav-link {
  color: blue;
  font-size: 19px;
  padding: 10px 20px;
font-weight: 700;
}
i.fa-solid.fa-xmark {
  font-size: 20px;
  font-weight: 800;
}
.fa-xmark:hover {

color: rgb(171, 55, 55); 
transform: scale(1.2); 
}

p.pages {
  margin-left: 27px;
  margin-top: 64px;
  font-size: 19px;
  font-weight: 600;
  color: #343a40;
}

.card {
  border: 1px solid #0d6efd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  margin: 10px;
}

  .card-body {
    text-align: center;
  }


  i.fa-solid.fa-image {
  font-size: 30px;
  color: blue;
  font-weight: 700;
}
i.fa-solid.fa-camera {
  font-size: 30px;
  color: blue;
  font-weight: 700;
}

span {
  color: blue;
font-weight: 600;
}
.card-2 {
  margin-top: 230px;
}

.col-sm-6.mk-1 {
  display: inline-block;
  width: 50%;
}





body {
font-family: Arial, sans-serif;
line-height: 1.6;
margin: 0;
padding: 0;
}

.container {
max-width: 1200px;
margin: 0 auto;
padding: 20px;
}


.pages {
text-align: center;
margin-bottom: 30px;
margin-top: 51px;
}

.pages p.pages {
color: #007bff;
font-size: 20px;
font-weight: bold;
}

#post-text {
width: 90%;
height: 100px;
resize: none;
border: 1px solid #ccc;
border-radius: 5px;
padding: 10px;
font-size: 16px;
margin-bottom: 10px;
}

.card-2 {
/* background-color: #f7f7f7; */
padding: 20px;
}

.card-2 .row {
margin: 0 -15px;
}

.card-2 .col-sm-6 {
padding: 0 15px;
margin-bottom: 20px;
}

.card {
border: 1px solid #ccc;
border-radius: 5px;
padding: 10px;
}

.card-body {
display: flex;
flex-direction: column;
align-items: center;
}

.fa-solid {
font-size: 40px;
color: #007bff;
}

.d-flex {
margin-top: 10px;
}

.d-flex span {
font-size: 18px;
font-weight: bold;
color: #333;
}

button.btn.btn-secondary {
  width: 96%;
  margin: 7px;
  text-align: center;
  background-color: #007bff;
  border-radius: 10px;
  font-size: 15px;
}

.post-container {
text-align: center;
margin-bottom: 20px; 
}




.news-feed {
max-width: 600px;
margin: 0 auto;
padding-top: 20px;
}

.post {
border: 1px solid #ccc;
border-radius: 5px;
padding: 10px;
margin-bottom: 10px;
}

.post p {
margin-bottom: 10px;
}

.post img {
max-width: 100%;
height: auto;
}