html,
body {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

img {
  max-width: 50%;
  height: auto;
}

.facebook {
  width: 100%;
  max-width: 300px;
  padding: 7px;
  font-size: 1rem;
  margin: 10px 0px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button#glogin {
  width: 100%;
  max-width: 300px;
  padding: 7px;
  font-size: 1rem;
 
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.social-login svg {
  width: 1em;
  height: 1em;
  margin-right: 8px;
}
@media (max-width: 767px) {
  .container {
      padding: 10px;
  }

  img {
      max-width: 100%;
  }

  .facebook, #glogin {
      width: 100%;
      max-width: none;
      padding: 10px;
  }

  .social-login svg {
      width: 1.5em;
      height: 1.5em;
  }


}
@media (min-width: 768px) and (max-width: 1024px) {

  .container {
      padding: 20px;
  }


  .facebook, #glogin {
      padding: 12px;
      font-size: 1.2rem;
  }


}
